<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >

<listeners>
		<listener class-name="com.sfdc.utilities.ReportListener" />
	</listeners>
	
  <test  name="Test">
  <parameter name = "browser" value = "chrome" />
    <classes>
      <class name="com.sfdc.testCases.TC_LoginTest_001"/>
      <class name="com.sfdc.testCases.TC_UserMenuTest_002" />  
	 <!-- <class name="com.sfdc.testCases.TC_AccountsTest_003" />-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
